nav {
  text-align: center;
  background-color: black;
  height: 50px;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main_hero_image{
  background-image: url("/imgs/5325b302-9037-47d4-b1af-d7b6c18bc284.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}
.main_hero_image2{
  background-image: url("../imgs/teach8.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
}

nav a:hover {
  background-color: white;
  color: black;
}

.categories_card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}

.card_img{
  overflow: hidden;
  padding-left: 17px;
}

.card_label{
  color: #1c1d1f;
  padding-left: 17px;
}

.testimonial_card{
  background: #fff;
  border: 1px solid #d1d7dc;
  display: flex;
  height: 100%;
  padding: 2.4rem;
  width: 32.7rem;
}

.testimonial_container{
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 1.6rem;
}

.hero_image_card{
  position: relative;
  flex-direction: column;
  width: 500px; 
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  text-align: center;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.hero_image_card_body{
  flex: 1 1 auto;
  min-height: 1px;
  padding-bottom: 1.5rem;
}
.simple_card_title
{
  color: white;
}
.hero_image_card_title{
  line-height: 1.5;
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500 !important;
  padding-left: 100px;
  font-style: normal;
}

.border-0{
  border: none;
}
#hero
{
    background-image: url(../imgs/teach8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    height:500px;
}

  #headin1{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
  }
  #section2 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
  }
  
  #section2 section {
    width: 35%;
    overflow: hidden;
  }
  
  #section2 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding-left: 30px;
  }

 #nav2 
 {
  text-align: center;

  
 }
 #nav2 a{
  text-decoration: none;
  
  color: black;
  font-weight: bold;
  font-size: 25px;
 }
 hr{
  width: 680px;
 
 }
 #section4
 {
  display: flex;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
    font-size: 20px;

 }
 #section4 p{
  padding-left: 100px;
  padding-top: 70px;
 }
 #section4 section {
  width: 50%;
  overflow: hidden;
}
#section4 img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding-left: 30px;
}
#section5
{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  background-color: aliceblue;
}
#section5 img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding-left: 200px;
  float:right;
}
#section5 p{
 padding-right: 220px;
  padding-top: 40px;
 }
 #section6
 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  
 }
 #section6 section {
text-align: center;
padding-top: 50px;
font-size: 18px;
}
#section6 img {
  width: 400px;
  height: 400px;
  object-fit: cover;

}
#section7
{
  background-color:bisque;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
.course_card{
  border: 1px solid #d1d7dc;
  padding: 3.2rem;
}

.course_card_heading{
  margin-bottom: 0.8rem;
  max-width: 80rem;
}

.course_card_content{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 1.6rem;
  max-width: 80rem;
}
/* about us START */
.main_img h1 {
  text-align: left;
  max-width: 363px;
  font-size: 3.2rem;
  padding: 24px 0!important;
  margin-bottom: 0px;
}
.main_img {
  background-image: url("../imgs/about-us.png");
  background-position: right;
  background-repeat: no-repeat;
padding: 7%;
margin-bottom: 0%;
}
.purple {
  margin-top: 0%;
  background-color:blueviolet;
}
.purple p {
  text-align: center;
  padding: 20px;
  margin: 0%;
  color: white;
}
.herotext h1 {
  text-align:center;
  font-size: 3.2rem;
}
.herotext p {
  text-align: center;
  max-width: 80rem;
  font-size: 1.6rem;
}
.herotext {
  padding: 5%;
}
.video {
  padding: 5% 1% 5% 1%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 5%;
  margin-right: 5%;
}
.grid-item {
  font-size: 20px;
  border-radius: 12px;
  margin: 2%;
  text-align: center;
}
.grid-item img {
  width: 500px;
  height: auto;
}
.grid-item h2 {
  font-size: 3rem;
    font-weight: 600;
    padding: 0 4px 0 4px;
}
.grid-item p {
  padding: 0 7px 0 7px;
}

.flex-container {
  overflow: auto;
}
.com-item {
  float:left;
  width: 25%;
  text-align: center;
}
.icon {
  display: block;
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-align:inherit;
}

.community h1 {
  text-align:center;
  font-size: 3.2rem;
  
}
.community p {
  text-align: center;
  max-width: 80rem;
  font-size: 1.6rem;
  padding-left: 15%;
  padding-right: 15%;
}

.community{
  padding: 5%;
  background-color: blueviolet;
  color: white;
}


.community1{
  padding: 5%;
  background-color: blueviolet;
  color: white;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    text-align: center;
}

.learn p {
  text-align: center;
  max-width: 80rem;
  font-size: 1.6rem;
  padding-left: 15%;
  padding-right: 15%;
}
.learn {
  padding: 5%;
  position: relative;
}
button {
  display: inline-block;
 
  padding: 11px 20px;
  color: #fff;
  font-weight: 600;
  background: #1c1d1f;
  margin-bottom: 57px;
  text-align: center;
  font-size: 20px;
}
.learn a {
  padding-left: 45%;
}
#quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
margin: 0 2% 0 2%;
padding-bottom: 5%;
}
.items{
  width: 30%; 
  box-shadow: 0px 0px 20px #eee;
  text-align: left;
  justify-content: space-between; 
}
.items p{
  font-size: 25px;
  padding: 3%;
}
.items a {
  color: blueviolet;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none ;
}
/* about us page css END */

/* udemy business Start */
.udem_img h1 {
    text-align: left;
    max-width: 363px;
    font-size: 3.2rem;
    padding: 24px 0!important;
  }
  .udem_img h2 {
    padding: 0% 55% 0 0;
    font-size: 20px;
  }
  .udem_img {
    background-image: url("../imgs/business1.jpg");
    background-position:right;
    background-repeat: no-repeat;
    background-size:contain;
  padding: 7%;
  margin-bottom: 0%;
  }
  .udem_badge {
    padding: 5%;
  }
.udem_badge h1 {
  text-align:center;
  font-size: 3.1rem;
}
.udem_badge p {
  text-align: center;
  max-width: 80rem;
  font-size: 1.6rem;
}
.udem_badge img {
  width: 200px;
  height: 200px;
padding: 0 5px 0 5px;
}


/* mobile media query  */
@media screen and (max-width:768px) {
  .categories_card{    
    grid-template-columns: 1fr 1fr;
  }

  nav a {
    float: none;
  }

  nav{
    height: 300px;
  }

  .hero_image_card{
    display: none;
  }
header {
  position: relative;
  display: flex;
}

.main_img h1{
  display: none;
}

 .main_img{
  padding-top: 400px;
 }

 .community{
  padding: 0;
 }

 .items p{
  font-size: 15px;
  padding: 0;
 }

 .items a {
  font-weight: unset;
  font-size: 15px;
}

.items h2,.items h3{
  font-weight: bold;
  font-size: 15px;
}

.learn p{
  font-size: 16px;
}

button{
  font-size: 14px;
  margin-bottom: 0px;
}

.community p{
  font-size: 16px;
}

.community h1{
  font-size: 30px;
}

.herotext h1{
  font-size: 27px;
}

.herotext p{
  font-size: 16px;
}
}
